
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.wrapper {
  width: 94%;
  max-width: 1250px;
  margin: 0 auto;
}


/* header css section */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 14vh;
  padding-top: 10px;

}
.navlinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;

}
.cirlce{
  color:#fff;
  background: black;
  margin-left:2px ;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo h1 {
  padding: 9px;
}
.navbar,
ul,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #475467;
}

.get_started{
width: 207px;
height: 50px;
border-radius: 10px;
  background: #0047DC;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
 
  border: none;
}
.get_started a{
  color:#fff;
}


.menu_bar {
  display: none;
}
/* discont content */
.discount_content{
margin-top: 4rem;
  display: flex;
 justify-content: space-between;
  align-items: center;
    padding: 10px;
background: #0047DC;
border-radius: 20px;
  
}
.discount{
  padding-left: 10px;
}

.discount_content h1{
font-style: normal;
font-weight: 500;
font-size: 60px;
line-height: 71px;
color: #FFFFFF;

}
.discount_content p{

height: 62px;
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 31px;

color: #FFFFFF;

}
.get_started_1{
width: 207px;

   border: 1px solid #fff;
border-radius: 10px;
  background: #0047DC;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  margin-top:10px ;
      margin-bottom: 9px;
}
.get_started_1 a {
  color:#fff;
}
.boy_img img{
height:500px;
}


.down{
display:flex;
  width: 100%;
  margin-top: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.down h3 {
  width: 517px;
font-style: normal;
font-weight: 500;
font-size: 50px;
line-height: 54px;
text-align: center;

color: #241A2B;
}
.down h4 {
width: 517px;
height: 31px;
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 31px;
text-align: center;
color: #241A2B;
}

/* page content 2 */
.page_container_2{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 500px;
  left: 135px;
  top: 1049px;
  margin: 117px 135px 184px 0px;
}
.boy_with_glasses img {
width: 377px;
height: 500px;
top: 1049px;
border-radius: 10px;
margin-left: 75px;
margin-right: 39px;
}

.four_Ladies img {
width: 377px;
height: 500px;
left: 551px;
top: 1049px;
border-radius: 10px;
margin-right: 39px;
}

.text_content{
width: 327px;
height: 388px;
left: 978px;
top: 1105px;
}

.text_content h2 {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 108%;
  margin-bottom: 25px;
  margin-top: 57px;
  color: #241A2B;
;
}

.text_content p{
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  color: #241A2B;
  margin-bottom: 85px;
}

.get_started_2{
  width: 259px;
  height: 60px;
  left: 978px;
  top: 1433px;
  background: #0047DC;
  border-radius: 8px;
  color: white;
  border: none;
}

.page_container_3{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 500px;
  left: 135px;
  top: 1733px; 
  margin: 117px 135px 184px 0px;
}

.guys_chilling img{
  width: 377px;
  height: 500px;
  left: 512px;
  top: 1733px;
  margin-right: 39px;
}

.group_image img{
  width: 377px;
  height: 500px;
  left: 512px;
  top: 1733px;

}

.text_content_2{
  width: 327px;
  height: 388px;
  left: 135px;
  top: 1789px;
  margin-right: 50px;
  margin-left: 75px;
}
.text_content_2 h2{
  font-family: 'Space Grotesk';
  font-weight: 500;
  font-size: 35px;
  line-height: 40px;
  color: #241A2B;
  width: 327px;
  margin-bottom: 25px;
  margin-top: 57px;
  
}

.text_content_2 p{
  font-family: 'Space Grotesk';
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  color: #241A2B;
  margin-bottom: 85px;
  
}


/* End of page content 2 */

/* responsive view */
@media  screen and (max-width:706px){

  body {
    overflow-x: hidden;
  }


  .navlinks {
    display: none;
    flex-direction: column-reverse;
    position: absolute;
    justify-content: space-evenly;
    right: 0px;
    top: 8vh;
    height: 92vh;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    background-color: #fdfbfb;
  }
  .discount_content{
    flex-direction: column-reverse;
 
margin-top: 2rem;

}
  
  .discount_content h1{
font-style: normal;
font-weight: 500;
    font-size: 30px;
line-height: 25px;
color: #FFFFFF;

}
.discount_content p{
   font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 31px;

color: #FFFFFF;

}
  .boy_img img{
height:400px;
    width: 390px;
    margin-left: -42px;
}
  .down h3 {
  width: 340px;
font-size: 34px;
}
.down h4 {
width: 317px;

}
  .menu_bar {
    display: block;
    margin-right: 0px;
  }
    .nav_active {
  display: flex;
  transform: translateX(0%);
  transition: 1.5s ease-in-out;
        margin-top: 15px;
}

  .page_container_2{
    flex-direction: column; 
    margin-top: 50px;
    margin-bottom: 100px;
    
  }
  .boy_with_glasses{
    margin-bottom: 20px;
  }
  .four_Ladies{
    margin: 20px 0px 0px 80px;
  }
  .text_content{
    margin: 00px 0px 0px 110px;

  }
  .page_container_3{
    flex-direction: column-reverse;
    margin-top: 2000px;
    
  }
  .group_image{
    margin-bottom: 40px;
    margin-left: 80px;
  }

  .guys_chilling{
    margin-left: 80px;
  }
  .text_content_2{
    margin-left: 110px;
  }

}

